<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<!-- css -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/common.css">
<!-- js -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/loading.js"></script>
<script src="/js/common.js"></script>
<script>
	window.addEventListener('DOMContentLoaded', function(){
		setTimeout(function(){
			domLoadTime();
		}, 1000);
	});
	function domLoadTime(){
		const navigation = performance.getEntriesByType("navigation");
		console.log('로딩 시간: ' + navigation[0].domComplete);
	}
</script>