<%# header start %>
<header>
	<div class="header_wrap">
		<h1 class="logo"><a href="/">Logo</a></h1>
		<nav>
			<ul>
				<li><a href="/board/list">Board</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">Menu</a></li>
			</ul>
		</nav>
	</div>
</header>
<%# header end %>